h1 {
  font-size: calc(42px + (48 - 42) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(32px + (36 - 32) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(24px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
}

p,
nav {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.icons {
  font-size: 2.4rem;
  cursor: pointer;
}

.chevrons {
  margin: 2rem 0;
}
